<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.studip.unofficial_app">
    <!-- used to connect to the Stud.IP server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- used to write to the downloads folder -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <!-- used to not load images when on mobile data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- used for the BigBlueButton video conferences -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.microphone"
        android:required="false" />

    <queries>
        <!-- to see if there is an app to open files to upload -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
        <!-- to scan for browser apps, to relay links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.HelpActivity"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.CrashActivity"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.ServerSelectActivity"
            android:exported="false"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".ui.plugins.MeetingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true"
            android:taskAffinity=""
            android:autoRemoveFromRecents="true"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:autoRemoveFromRecents="true"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- This filter is used for the OAuth callback URI -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="unofficial_app"
                    android:path="/oauth_callback"
                    android:scheme="studip_app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.APP_EMAIL" />

                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />
        </activity>
        <activity
            android:name=".ui.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- The intent filter has to be this general, because the hostnames of all possible Stud.IP installations isn't known -->
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <!-- This filter is for sending a message to someone -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.APP_EMAIL" />

                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />
        </activity>
        <activity android:name=".ui.ShareActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            android:label="@string/share_with" />
        
        
        <receiver
            android:name=".LocaleChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.plugins.MeetingsReceiver"
            android:exported="false" />

        <provider
            android:name=".documentsprovider.DocumentsProvider"
            android:authorities="org.studip.unofficial_app.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>